<% provide :page_title, 'Edit profile' %>
<% currently_at 'Редактирование профиля' %>

<h1 class="mb-4">Редактирование профиля</h1>

<%= form_with model: @user do |f| %>
  <div class="mb-3 row">

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Имя %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :name, placeholder: 'Name', class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Пароль %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Подтверждение_пароля %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: 'form-control form-control-lg' %>
    </div>
  </div>

    <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Роль %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :role,
        class: 'form-control-plaintext form-control-lg',readonly: true %>
    </div>
  </div>

  <%= f.submit "Редактировать!", class: 'btn btn-primary btn-lg' %>
<% end %>